parameters:
    # params

services:
    smart_information_systems_payment.gateway.configuration_container:
        class: SmartInformationSystems\PaymentBundle\Gateway\ConfigurationContainer

    sis_payment:
        class: SmartInformationSystems\PaymentBundle\Service\Payment
        arguments:
            - "@smart_information_systems_payment.gateway.configuration_container"
            - "@session"
            - "@doctrine.orm.entity_manager"
